@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-family: "Poppins", sans-serif;
  --secondary-font-family: "PT Serif", serif;
  
  --main-font-color: #212427;
  --secondary-font-color: #f7bd0c;
  --tertiary-font-color: #556070;
  --title-color-gradient: linear-gradient(90deg, rgba(33,36,39,1) 35%, rgba(247,189,12,1) 65%);
  --danger-color: #c40215;
  --danger-hover-color: #a10211;

  --btn-color: #000;
  --btn-bg: #f7bd0c;
  --btn-border-color: #f7bd0c;
  --btn-hover-color: #000;
  --btn-hover-bg: #dba400;
  --btn-hover-border-color: #e3af14;

  --btn-danger-color: #fff;
  --btn-danger-bg: #dc3545;
  --btn-danger-hover-bg: #bb2d3b;
  --btn-danger-border-color: #dc3545;
  --btn-danger-hover-border-color: #dc3545;
  
  --btn-gray-color: #fff;
  --btn-gray-bg: #6c757d;
  --btn-gray-hover-bg: #5c636a;
  --btn-gray-border-color: #6c757d;
  --btn-gray-hover-border-color: #565e64;

  --border-main-color: #dee2e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  color: var(--main-font-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-optical-sizing: auto;
  line-height: 1.2;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

textarea {
  width: 100%;
  padding: 0.575rem 0.75rem;
  font-size: 0.925rem;
  background: transparent;
  border: 1px solid var(--border-main-color);
  border-radius: 0.375rem;
  outline: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input {
  width: 100%;
  padding: 0.575rem 0.75rem;
  font-size: 0.925rem;
  background: transparent;
  border: 1px solid var(--border-main-color);
  border-radius: 0.375rem;
  outline: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-error {
  border: 2px solid var(--danger-color) !important;
}

.input-password-box {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid var(--border-main-color);
  border-radius: 0.375rem;
  padding: 0rem 0.75rem;
}

.input-password-box .input-password {
  background: transparent;
  border: none;
  padding: 0.575rem 0rem;
}

.input-password-box .show-password-icon {
  font-size: 19px;
  color: var(--tertiary-font-color)
}

.input-password-box .show-password-icon:hover {
  cursor: pointer;
  color: #000;
}

.btn {
  display: inline-block;
  padding: 0.475rem 0.75rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--btn-color);
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border-color);
  border-radius: 0.375rem;
  user-select: none;
  cursor: pointer;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
}

.btn-full {
  width: 100%;
}

.btn-danger {
  color: var(--btn-danger-color);
  background-color: var(--btn-danger-bg);
  border-color: var(--btn-danger-border-color);
}

.btn-danger:hover {
  background-color: var(--btn-danger-hover-bg);
  border-color: var(--btn-danger-hover-border-color);
}

.btn-gray {
  color: var(--btn-gray-color);
  background-color: var(--btn-gray-bg);
  border-color: var(--btn-gray-border-color);
}

.btn-gray:hover {
  background-color: var(--btn-gray-hover-bg);
  border-color: var(--btn-gray-hover-border-color);
}

.error-alert-icon {
  color: var(--danger-color);
  font-size: 1.15rem;
}

.create-notes__wrapper {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.create-notes-btn {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-bg);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.create-notes-btn .add-icon {
  font-size: 1.85rem;
  font-weight: 600;
}

.create-notes-btn:hover {
  background-color: var(--btn-hover-bg);
}

.loading {
  height: 547px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading .loading-spinner-img {
  width: 215px;
}

.glassmorphism {
  background: rgba(237, 232, 232, 0.18);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(0, 0, 0, 0.085);
}